body{
    background-image: url("./images/17785-paper-background-5000x3750-screen.jpg");
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}


.header{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 2vh;
    padding:10px 20px 10px 20px;
    max-width: 80vh;
    color:rgb(0, 0, 0);
    border-color: rgb(141, 141, 141);

}


.list{
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h2{
    font-size: 30px;
}

.buttons{
    display: flex;
    gap:4vh;
    padding:10px 0 0 0;
}


button{

    font-size: 4vh;
}

.game{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.playernames{
    display:flex;
    gap:2vh;

}

.player, .player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 20vh;
}

.userscore, .computer {
    border-style: solid;
    padding: 0px 60px 0px 60px;
    min-width: 8vh;
    justify-content: center;
    margin-top: 1vh; /* Add margin to separate the labels from the scores */
}
